<section class="fileupcontainer">
<h1 class="accessImg">Your image can be accessed at: https://joosbox-9e68743f6da7.herokuapp.com/{{data.dataValues.filename}}</h1>
<a class="homeBtn" href="/">Return Home</a>
</section>