<section class="home">

<form action="http://localhost:3001/api/images" method="post" enctype="multipart/form-data">
    <label for="upload">Upload</label>
    <input type="file" id="upload" name="upload">
    <input type="submit" value="Submit">
</form>
<section class="homecontainer">
    {{#each images as |image| }}
    <div class="content">
    <h1>Hello</h1>
    <span class="imagecontainer">
        <img class='homeimage' src='{{image.filename}}' alt="image">
    </span>
    <div>
        {{image.user.user}}
    </div>
    </div>
    {{/each}}
</section>
</section>