<div class = "login-box">
    <input placeholder="username" id="username">
    <input placeholder="password" id="password">
    <button id="login-button">Login</button>
    <button id="createacct">Create an Account!</button>
    <script src="/js/login.js"></script>
</div>