body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../images/brown-paper-bag.jpg);
    background-color: bisque;
    

}

.title {
    font-family: shizuru;
    font-size: 100px;
}

.imagecontainer {
    max-width: 25rem;
    min-width: 15rem;
    padding: .5rem;
    border-radius: 3px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

.homeimage {
    width: 100%;
}

.homecontainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-top: 5px; */
    margin-top: 3rem;
}

.home {
    /* background-color: bisque; */
    padding: 5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    margin-top: 3em;
    width: 30%;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content:center;
    text-align: center;
}

main a {
    text-decoration:none;
    color: black;
}
#username, #password {
    padding: 5px;
    margin: 5px;
    border-style: groove;
    /* border-radius: 5%; */
    font-family: didact gothic;
}

#login-button, #createacct {
    padding: 5px;
    margin: 5px;
    /* width: 50%; */
    /* border-radius: 5%; */
    box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
    font-family: didact gothic;
    /* font-family: nunito; */
    font-size: 16px;
}

.formcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 30px; */
    padding: 5rem;
    background-color: brown;
    /* border-style:ridge; */
    border-radius: 1%;
    font-family: didact gothic;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
}

.form {
    /* background-color: bisque;
    border-style: dashed; */
    font-family: didact gothic;
}

.upload, .submit {
    font-family: didact gothic;
    /* border-style: dotted; */
    font-size: 25px;
    
}

#upload {
    /* background-color: bisque; */
    background-image: url(../images/brown-paper-bag.jpg);
    border-style: dotted;
    font-family: didact gothic;
    font-size: 18px;
}

.LOheader {
    display: flex;
    justify-content: right;
    padding-right: 5rem;
    padding-top: 3rem;
}

#logoutBtn {
    font-size: 20px;
    font-family: didact gothic;
    /* background-color: brown; */
    box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
}

.fileupcontainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeBtn {
    padding: .25rem;
    background-color: brown;
    border-radius: 4px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
    font-family: didact gothic;
}

.homeBtn:hover {
    cursor: pointer;
    box-shadow: 8px 8px 12px rgba(23, 10, 10, 0.6);
}

.accessImg {
    font-family: didact gothic;
}
